* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  width: 500px;
}

.imagen-mercedes {
  background-color: rgb(0, 0, 0);
  background-image: url(https://wallpapercave.com/wp/wp11031362.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

hr {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

h1, h2, h3, h4, h5, p, a {
  font-family: "Ubuntu", sans-serif;
  color: white;
}

p {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: justify;
}

h1 {
  font-size: 4rem;
  color: rgb(255, 0, 0);
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: goldenrod;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  color: goldenrod;
  margin-bottom: 2rem;
}

h4 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(rgb(143, 0, 0), black);
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

#solapa {
  color: rgb(255, 0, 0);
  font-size: 1.1rem;
}

#punto {
  width: 1rem;
  height: 1rem;
  color: rgb(255, 255, 255);
}

.estilosEnComun, .ul-contacto, .ul-galeria, .ul-records, .ul-1950-2022, .ul-circuitos, .ul-grandesCampeones {
  font-size: 1rem;
  background-image: linear-gradient(black, white, black);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.estilosEnComun-a, .ul-contacto a, .ul-galeria a, .ul-records a, .ul-1950-2022 a, .ul-circuitos a, .ul-grandesCampeones a, #ul-menuPrincipal a {
  color: black;
  font-weight: bolder;
  transition: 1s;
}

/* -------------------PORTADA----------------- */
body {
  background-color: black;
}

img {
  margin: 0 auto;
}

.logo-portada {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.width-logo {
  width: 20rem;
}

.padre-semaforo {
  border: solid 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.semaforo1 {
  width: 2rem;
  height: 2rem;
  background-color: rgb(21, 20, 20);
  border-radius: 6rem;
  animation-name: mianimacion;
  animation-duration: 5s;
  animation-delay: 1s;
}

.semaforo2 {
  width: 2rem;
  height: 2rem;
  background-color: rgb(21, 20, 20);
  border-radius: 6rem;
  animation-name: mianimacion;
  animation-duration: 4s;
  animation-delay: 2s;
}

.semaforo3 {
  width: 2rem;
  height: 2rem;
  background-color: rgb(21, 20, 20);
  border-radius: 6rem;
  animation-name: mianimacion;
  animation-duration: 3s;
  animation-delay: 3s;
}

.semaforo4 {
  width: 2rem;
  height: 2rem;
  background-color: rgb(21, 20, 20);
  border-radius: 6rem;
  animation-name: mianimacion;
  animation-duration: 2s;
  animation-delay: 4s;
}

.semaforo5 {
  width: 2rem;
  height: 2rem;
  background-color: rgb(21, 20, 20);
  border-radius: 6rem;
  animation-name: mianimacion;
  animation-duration: 1s;
  animation-delay: 5s;
}

@keyframes mianimacion {
  0% {
    background-color: rgb(30, 27, 27);
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: red;
  }
}
.logo-rolex {
  width: 4rem;
}

.rolex {
  width: 5rem;
}

.contorno-semaforo {
  border: solid 1rem;
  border-color: rgb(30, 27, 27);
  width: 40rem;
  border-radius: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
}

@media screen and (max-width: 680px) {
  .contorno-semaforo {
    width: 20rem;
  }
  .semaforo1 {
    width: 1rem;
    height: 1rem;
  }
  .semaforo2 {
    width: 1rem;
    height: 1rem;
  }
  .semaforo3 {
    width: 1rem;
    height: 1rem;
  }
  .semaforo4 {
    width: 1rem;
    height: 1rem;
  }
  .semaforo5 {
    width: 1rem;
    height: 1rem;
  }
  .padre-semaforo {
    gap: 0.5em;
    border: solid 0.3rem;
  }
  .logo-rolex {
    width: 2rem;
  }
  .rolex {
    width: 2.5re;
  }
}
.start {
  font-size: 4rem;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  animation-name: start;
  animation-duration: 50s;
  animation-delay: 5.5s;
}

@keyframes start {
  0% {
    color: rgb(0, 0, 0);
  }
  5% {
    color: rgb(0, 117, 16);
  }
  100% {
    color: rgb(0, 117, 16);
  }
}
.p-portada {
  font-family: "Ubuntu", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  animation-name: clic;
  animation-duration: 50s;
  animation-delay: 7s;
}

@keyframes clic {
  0% {
    color: rgb(0, 0, 0);
  }
  5% {
    color: rgb(255, 255, 255);
  }
  100% {
    color: rgb(255, 255, 255);
  }
}
/*-------------------INICIO----------------------*/
#grids-menuPrincipal {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
}

#header-menuPrincipal {
  grid-area: header;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 2rem;
  background-image: linear-gradient(black, white, black);
}

@media screen and (max-width: 922px) {
  #header-menuPrincipal {
    flex-direction: column-reverse;
  }
}
.imagen-logo {
  width: 20rem;
}

#ul-menuPrincipal {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
}
#ul-menuPrincipal a:hover {
  color: goldenrod;
  border-bottom: 2px solid goldenrod;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 654px) {
  #ul-menuPrincipal {
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    gap: 1rem;
  }
}
#main-menuPrincipal {
  grid-area: main;
  text-align: center;
  margin-bottom: 15rem;
  font-size: 1.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
#main-menuPrincipal p {
  text-align: center;
}

#footer-menuPrincipal {
  grid-area: footer;
  font-size: 1rem;
  background-color: rgb(34, 30, 30);
  margin-top: 2.5rem;
}

.footer-nav {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.logo-insta {
  width: 1rem;
}

/*-------------------GRANDES CAMPEONES-----------------*/
#grids-grandesCampeones {
  display: grid;
  grid-template-areas: "header header header " "section section section" "main main main " "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
}

/* HEADER */
#header-grandesCampeones {
  grid-area: header;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ul-grandesCampeones {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.ul-grandesCampeones a:hover {
  color: goldenrod;
  border-bottom: 2px solid goldenrod;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 800px) {
  .ul-grandesCampeones {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.logo-grandesCampeones {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.logo-grandesCampeones img {
  margin: 2rem 2rem;
  width: 20rem;
}

.p-grandesCampeones {
  margin-bottom: 5rem;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .logo-grandesCampeones {
    flex-direction: column;
  }
}
/* SECTION */
#section-grandesCampeones {
  grid-area: section;
}

.nav-grandesCampeones {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .nav-grandesCampeones {
    justify-content: space-evenly;
    margin-right: 2.5rem;
  }
}
.img-rostroCampeones {
  width: 15rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 576px) {
  .img-rostroCampeones {
    width: 6rem;
  }
}
/* MAIN */
#main-grandesCampeones {
  grid-area: main;
  background-color: black;
}

.enlaces-fotos {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 3rem;
  margin-top: 2rem;
  align-items: center;
}

.img-3-grandesCampeones {
  width: 20rem;
  transition: 2s;
}

.img-3-grandesCampeones:hover {
  width: 25rem;
}

.grandes-c {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: goldenrod;
  transition: 1s;
  margin-bottom: 1rem;
}

.grandes-c:hover {
  color: rgb(192, 3, 3);
}

/* FOOTER */
#footer-grandesCampeones {
  grid-area: footer;
  font-size: 1rem;
  background-color: rgb(34, 30, 30);
}

/* -----------------------CIRCUITOS--------------------------- */
#grids-circuitos {
  display: grid;
  grid-template-areas: "header header header" "section section section" "main main main" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
}

/* HEADER */
#header-circuitos {
  grid-area: header;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ul-circuitos {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid transparent;
}
.ul-circuitos a:hover {
  color: goldenrod;
  border-bottom: 2px solid goldenrod;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 800px) {
  .ul-circuitos {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.logo-circuitos {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.p-circuitos {
  margin-bottom: 5rem;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .logo-circuitos {
    flex-direction: column;
  }
}
.logo-circuitos img {
  margin: 2rem 2rem;
  width: 20rem;
}

/* SECTION */
#section-circuitos {
  grid-area: section;
}

.nav-circuitos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  background-color: black;
}

@media screen and (max-width: 800px) {
  .nav-circuitos {
    display: flex;
    flex-direction: column;
  }
}
.grid-circuitos {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  margin-top: 2rem;
  text-align: center;
}

.grid-img-circuitos {
  width: 12rem;
}

#main-circuitos {
  grid-area: main;
  background-color: black;
}

.enlaces-fotos {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 3rem;
  margin-top: 2rem;
  align-items: center;
}

.img-3-circuitos {
  width: 20rem;
  transition: 2s;
}

.img-3-circuitos:hover {
  width: 25rem;
}

#footer-circuitos {
  grid-area: footer;
  font-size: 1rem;
  background-color: rgb(34, 30, 30);
}

/* -----------------------1950-2022--------------------------- */
#grids-1950-2022 {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
}

/* HEADER */
#header-1950-2022 {
  grid-area: header;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ul-1950-2022 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.ul-1950-2022 a:hover {
  color: goldenrod;
  border-bottom: 2px solid goldenrod;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 800px) {
  .ul-1950-2022 {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.logo-1950-2022 {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.logo-1950-2022 img {
  margin: 2rem 2rem;
  width: 20rem;
}

@media screen and (max-width: 800px) {
  .logo-1950-2022 {
    flex-direction: column;
  }
}
.p-1950-2022 {
  margin-bottom: 5.5rem;
  text-align: center;
}

/* SECTION */
#main-1950-2022 {
  grid-area: main;
  display: flex;
  background-color: black;
  text-align: center;
  color: white;
  justify-content: center;
}

tr {
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  tr {
    font-size: 0.8rem;
  }
}
table {
  font-family: "Ubuntu", sans-serif;
}

.nav-1950-2022 a {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: goldenrod;
  transition: 1s;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-1950-2022 a:hover {
  color: rgb(192, 3, 3);
}

/* FOOTER */
#footer-1950-2022 {
  grid-area: footer;
  font-size: 1rem;
  background-color: rgb(34, 30, 30);
}

/* --------------------------RECORDS--------------------------- */
#grids-records {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
}

/* HEADER */
#header-records {
  grid-area: header;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ul-records {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.ul-records a:hover {
  color: goldenrod;
  border-bottom: 2px solid goldenrod;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 800px) {
  .ul-records {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.logo-records {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.logo-records img {
  margin: 2rem 2rem;
  width: 20rem;
}

@media screen and (max-width: 800px) {
  .logo-records {
    flex-direction: column;
  }
}
.p-records {
  margin-bottom: 5rem;
  text-align: center;
}

/* MAIN */
#main-records {
  grid-area: main;
  display: flex;
  background-color: black;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
#main-records p {
  text-align: center;
  font-size: 1.2rem;
}

.nav-records {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: goldenrod;
  transition: 1s;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-records:hover {
  color: rgb(192, 3, 3);
}

/* FOOTER */
#footer-records {
  grid-area: footer;
  font-size: 1rem;
  background-color: rgb(34, 30, 30);
}

/* RECORDS-END */
/* ----------------------GALERIA---------------------- */
#grids-records {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
}

/* HEADER */
#header-galeria {
  grid-area: header;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ul-galeria {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.ul-galeria a:hover {
  color: goldenrod;
  border-bottom: 2px solid goldenrod;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 800px) {
  .ul-galeria {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.logo-galeria {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.logo-galeria img {
  margin: 2rem 2rem;
  width: 20rem;
}

@media screen and (max-width: 800px) {
  .logo-galeria {
    flex-direction: column;
  }
}
.p-galeria {
  margin-bottom: 5rem;
  text-align: center;
}

#main-galeria {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: black;
  margin-bottom: 2rem;
}

.fotos-galeria {
  border-radius: 1rem;
}

/* FOOTER */
#footer-galeria {
  grid-area: footer;
  font-size: 1rem;
  background-color: rgb(34, 30, 30);
}

/* ----------------------CONTACTO---------------------- */
#grids-contacto {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
}

#header-contacto {
  grid-area: header;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ul-contacto {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.ul-contacto a:hover {
  color: goldenrod;
  border-bottom: 2px solid goldenrod;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 800px) {
  .ul-contacto {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.logo-contacto {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.logo-contacto img {
  margin: 2rem 2rem;
  width: 20rem;
}

@media screen and (max-width: 800px) {
  .logo-contacto {
    flex-direction: column;
  }
}
.p-contacto {
  margin-bottom: 5.5rem;
  text-align: center;
}

#main-contacto {
  grid-area: main;
  display: flex;
  background-color: black;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.form-contacto {
  font-family: "Ubuntu", sans-serif;
  color: white;
}

label {
  margin-left: 1rem;
  margin-right: 1rem;
}

input {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#footer-contacto {
  grid-area: footer;
  font-size: 1rem;
  background-color: rgb(34, 30, 30);
}

/* -------------------CSS FLECHA SCROLL DOWN----------------- */
.flechaAbajo {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px;
  border-bottom-width: 0px;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
  animation-name: movflecha;
  animation-duration: 2s;
  animation-delay: 0.5s;
  position: relative;
  animation-iteration-count: infinite;
}

@keyframes movflecha {
  0% {
    border-color: rgb(255, 255, 255) transparent transparent transparent;
    left: 0;
    top: 0;
  }
  50% {
    border-color: rgb(255, 4, 4) transparent transparent transparent;
    left: 0;
    top: 3rem;
  }
  100% {
    border-color: rgb(255, 255, 255) transparent transparent transparent;
    left: 0;
    top: 0;
  }
}
.padre-flecha {
  display: flex;
  justify-content: center;
  gap: 58rem;
  margin-bottom: 10rem;
}

@media screen and (max-width: 1010px) {
  .padre-flecha {
    text-align: center;
    gap: 10rem;
  }
}

/*# sourceMappingURL=style.css.map */
