#grids-grandesCampeones { 
    
    display: grid; 

    grid-template-areas:   

    "header header header " 

    "section section section" 

    "main main main " 

    "footer footer footer"; 

    grid-template-columns: 1fr 1fr 1fr; 

} 

/* HEADER */ 

#header-grandesCampeones { 

    @include flex-stamdars-header; 

} 

.ul-grandesCampeones { 

    @include flex-standars;

    @extend .estilosEnComun;

    a {
        @extend .estilosEnComun-a; 
    }

    a:hover{

        color: $a-hovercolor;

        border-bottom: 2px solid $a-hovercolor;

        padding-bottom: 0.5rem; 

    }  

 } 

@media screen and (max-width: 992px){ 

    .ul-grandesCampeones{ 

        flex-direction:column; 

        gap: 0.5rem; 

    } 

} 

.logo-grandesCampeones { 

    @include flex-standars-logo; 

    img {
        margin: 2rem 2rem; 

        width: 20rem; 
    }

} 

.p-grandesCampeones { 

    margin-bottom: 5rem; 

    text-align: center; 

} 

@media screen and (max-width: 992px){ 

    .logo-grandesCampeones{ 

        flex-direction:column; 

    } 

} 

/* SECTION */ 

#section-grandesCampeones { 

    grid-area:section; 

} 

.nav-grandesCampeones { 

    display: flex; 

    justify-content: center; 

    justify-content:space-evenly; 

    text-align: center; 

} 

@media screen and (max-width: 768px){ 

    .nav-grandesCampeones { 

       justify-content: space-evenly; 

        margin-right: 2.5rem; 

    } 

} 

.img-rostroCampeones { 

    width: 15rem; 

    margin-top: 2rem; 

    margin-bottom: 0.5rem; 

} 

@media screen and (max-width: 768px){ 

    .img-rostroCampeones { 

        width: 6rem; 

    } 

}     

/* MAIN */ 

#main-grandesCampeones { 

    grid-area: main; 

    background-color: $bgcsections;

} 

.enlaces-fotos { 

    display: flex; 

    justify-content: center; 

    justify-content: space-around; 

    margin-top: 3rem; 

    margin-top: 2rem; 

    align-items: center; 

} 

.img-3-grandesCampeones  { 

    width: 20rem; 

    transition: 2s; 

} 

.img-3-grandesCampeones:hover { 

    width: 25rem; 

} 

.grandes-c { 

    display: block; 

    text-align: center; 

    font-size: 1.5rem; 

    color:goldenrod; 

    transition: 1s; 

    margin-bottom: 1rem; 

} 

.grandes-c:hover { 

    color:rgb(192, 3, 3);     

} 

/* FOOTER */ 

#footer-grandesCampeones { 

    grid-area: footer;  

    font-size: 1rem; 

    background-color: $bgcf;

    p {
        margin-bottom: 0;
    }

} 