#grids-records { 
    
    display: grid; 

    grid-template-areas:   

    "header header header" 

    "main main main" 

    "footer footer footer"; 

    grid-template-columns: 1fr 1fr 1fr; 

} 

/* HEADER */ 

#header-records { 

    @include flex-stamdars-header; 

} 

.ul-records { 

    @include flex-standars;

    @extend .estilosEnComun;

     a {
        
        @extend .estilosEnComun-a;
     }


     a:hover {
        
    color: $a-hovercolor;

    border-bottom: 2px solid $a-hovercolor;

    padding-bottom: 0.5rem;
     }
} 

@media screen and (max-width: 800px){ 

    .ul-records{ 

        flex-direction:column; 

        gap: 0.5rem; 

    } 

} 

.logo-records{ 

    @include flex-standars-logo;

    img {
        margin: 2rem 2rem; 

        width: 20rem; 
    }

} 

@media screen and (max-width: 800px){ 

    .logo-records{ 

        flex-direction:column; 

    } 

} 

.p-records { 

    margin-bottom: 5rem; 

    text-align: center; 

} 

/* MAIN */ 

#main-records { 

    grid-area: main; 

    display: flex;  

    background-color: $bgcsections;

    text-align: center; 

    flex-direction: column; 

    justify-content: center; 

      p {
        text-align: center; 

        font-size: 1.2rem; 
      }

} 

.nav-records { 

    display: block; 

    text-align: center; 

    font-size: 1.5rem; 

    color:goldenrod; 

    transition: 1s; 

    margin-top: 1rem; 

    margin-bottom: 1rem; 

} 

.nav-records:hover { 

    color:rgb(192, 3, 3); 

} 

/* FOOTER */ 

#footer-records { 

    grid-area: footer; 

    font-size: 1rem; 

    background-color: $bgcf;

    p {
        margin-bottom: 0;
    }

} 
 