$bgcf:rgb(34, 30, 30); 
$bgimage:  linear-gradient(black, white, black); 
$bgcsections: black;
$a-color:black;
$a-hovercolor:goldenrod;

@mixin flex-standars {
    display: flex; 
    
    justify-content: center; 
    
    justify-content: space-around; 

    align-items: center;
}

@mixin flex-stamdars-header {

    grid-area: header; 

    display: flex; 

    flex-direction: column; 

    text-align: center; 
    
}

@mixin flex-standars-logo {

    display: flex; 

    align-items: center; 

    justify-items: center; 

    justify-content: center; 
    
}